footer {
    background-color: #fbfbf5;
    width: 100%;
}

.word-spacing {
    word-spacing: 1px;
}

.word-spacing-special{
    padding-left: 25px;
}

footer *,
footer>* {
    color: #151344;
    font-family: "Termina Demi";
    font-weight: 550;
    font-style: normal;
    font-size: 0.65rem;
    text-transform: uppercase;
}

footer .padding div {
    margin: 20px 0;
}

footer .padding div:last-child {
    margin: 20px 0 0 0;
}

footer .padding {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

footer .divider {
    height: 1px;
    background-color: #151344;
}

footer .extended {
    display: flex;
    word-spacing: 15px;
    margin-top: 0px !important;
    justify-content: space-between;
}

footer .extended div {
    display: flex;
    flex-direction: row;
}

footer .extended div p {
    margin: 0 20px;
}

footer .extended div:first-child p:first-child {
    margin-left: 0;
}

footer .extended div:last-child p:last-child {
    margin-right: 0;
}

footer .center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer .center * {
    margin: 0 20px;
}

footer .center input {
    padding: 2px 30px;
    width: 320px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #151344;
    text-align: center;
}

footer .center #sub-email-mob{
    display: none;
}

footer .equal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .equal>* {
    flex: 1;
}

footer .equal .language {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 1;

}

footer .equal .language div {
    margin: 0 10px;
}

footer .equal .socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-end
}

footer .equal .socials * {
    margin: 0 5px;
}

footer .equal #gotop {
    text-align: right;
    cursor: pointer;
}
#gotop{
    margin-bottom: 20px;
}

footer .mobile-show {
    display: none;
}

.white{
    color: white;
}

@media screen and (max-width:921px){
    .cache {
        display: none;
    }

    .equal{
        justify-content: flex-start;
    }

}

@media screen and (max-width: 768px) {
    footer .center {
        flex-direction: column;
    }
    footer .center * {
        margin: 20px 0;
    }
    footer .center input {
        width: 210px;
        padding: 2px 5px;
    }
    footer .center #sub-email-mob{
        display: block;
    }
    footer .center #sub-email{
        display: none;
    }
    footer .extended {
        flex-direction: column-reverse;
        text-align: center;
    }
    footer .extended div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .center .socials {
        display: flex;
    }
    footer .center .socials * {
        margin: 0 5px;
    }
    footer .equal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 0;
    }
    footer .equal .info {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }
    footer .equal .info p {
        margin: 0;
    }
    footer .extended div p {
        margin: 0;
    }
    footer .booking-footer {
        border-bottom: 1px solid #151344;
        font-size: 0.8rem;
    }

    #gotop{
        margin-bottom : 0px;
    }

    .word-spacing-special{
        padding-left: 0px;
    }
}