/* ######################################## */
/* ANIMATION */
/* ######################################## */
@keyframes entrance {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* ######################################## */
/* PAGES */
/* ######################################## */
.page-text {
    text-align: justify;
    line-height: 16px;
}

#page0,
#page1,
#page2,
#page3,
#page4,
#page5,
#page6,
#page7,
#page8,
#page9,
#page10,
#page11 {
    animation: .2s ease-in-out entrance;
}

#page1,
#page2,
#page3,
#page4,
#page5,
#page6,
#page7,
#page8,
#page9,
#page10,
#page11 {
    width: 96%;
    height: 99%;
}


@media screen and (max-width: 920px) {

    #page1,
    #page2,
    #page3,
    #page4,
    #page5,
    #page6,
    #page7,
    #page8,
    #page9,
    #page10,
    #page11 {
        width: 100%;
        height: 100%;
    }
}

/* ######################################## */
/* PAGE 0 */
/* ######################################## */
#page0 {
    font-family: "Termina Demi";
    font-weight: 500;
    font-style: normal;
    color: #151344;
    font-size: 0.60rem;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: center;
    margin-left: 53%;
}

#page0 .page-elements {
    width: 90%;
    height: 48%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page0 .page-elements .page-title {
    display: flex;
    flex-direction: column;
    font-size: calc(1.1vmin + 5px);
    letter-spacing: 1px;
}
#page0 .page-elements .lesarts {
    margin-top: 15px;
}

#page0 .page-elements .sttropez {
    margin-bottom: 15px;
}

#page0 .page-elements .chapter-list {
    width: fit-content;
}

#page0 .page-elements .chapter-list .chapter {
    font-size: 0.55rem;
    margin: 35px 0;
    cursor: pointer;
}

#page0 .chapter p {
    margin: 4px 0;
    border-bottom: 1px solid #151344;
    width: fit-content;
}
@media screen and (max-width: 1251px) {
    #page0 .page-elements .chapter-list .chapter {
        font-size: 0.48rem;
        margin: 35px 0;
        cursor: pointer;
    }

    #page0 .page-elements .lesarts {
        margin-top: 0px;
    }
    
    #page0 .page-elements .sttropez {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 1100px) {
    #page0 .page-elements .chapter-list .chapter {
        margin: 30px 0;
    }
}

@media screen and (max-width: 950px) {

    #page0 .page-elements .page-title {
        font-size: calc(0.8vmin + 5px);
    }

    #page0 .page-elements .chapter-list .chapter {
        font-size: 0.44rem;
        margin: 25px 0;
    }
}

@media screen and (max-width: 900px) {

    #page0 .page-elements .page-title {
        font-size: 0.68rem;
    }

    #page0 .page-elements .chapter-list .chapter {
        font-size: 0.4rem;
    }
}

@media screen and (max-width: 800px) {

    #page0 .page-elements .page-title {
        font-size: calc(0.8vmin + 3px);
    }

    #page0 .page-elements .chapter-list .chapter {
        font-size: calc(0.55vmin + 1px);
        margin: 25px 0;
    }
}

@media screen and (max-width: 650px) {
    #page0 .page-elements .page-title {
        font-size: calc(0.8vmin + 3px);
    }

    #page0 .page-elements .chapter-list .chapter {
        font-size: calc(0.55vmin + 1px);
        margin: 15px 0;
    }
}

@media screen and (max-width: 600px) {
    #page0 {
        margin-left: 49%;
    }
    
    #page0 .page-elements {
        height: 55%;
    }

    #page0 .page-elements .page-title {
        font-size: 0.8rem
    }

    #page0 .page-elements .chapter-list .chapter {
        font-size: 0.42rem;
        margin: 30px 0;
    }
}

/* ######################################## */
/* PAGE 1 9 14 : IMAGE CENTER */
/* ######################################## */
#page1,
#page6,
#page7,
#page10 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#page1,
#page7 {
    margin-left: 4%;
}

#page1 .page-elements,
#page6 .page-elements,
#page7 .page-elements,
#page10 .page-elements {
    background-color: #E2DBD2;
    padding: 7px;
    justify-content: stretch;
    align-items: stretch;
    position: relative;
    width: 75%;
    height: 80%;
}

#page1 .page-elements img,
#page6 .page-elements img,
#page7 .page-elements img,
#page10 .page-elements img {
    position: absolute;
    width: calc(100% - 14px);
    height: calc(100% - 14px);
}


/* ######################################## */
/* PAGE 2 3 5 8 9 TEXTE */
/* ######################################## */
#page2,
#page3,
#page5,
#page8,
#page9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#page2 .page-elements,
#page3 .page-elements,
#page5 .page-elements,
#page8 .page-elements,
#page9 .page-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: fit-content;
    flex-direction: column;
    color: #151344;
}

#page3 .page-elements,
#page5 .page-elements,
#page9 .page-elements {
    width: 55%;
    margin-left: 5%;
}

#page2 .page-elements,
#page8 .page-elements {
    width: 60%;
    margin-left: -5%;
}

@media screen and (max-width: 920px) {

    #page2 .page-elements,
    #page3 .page-elements,
    #page5 .page-elements,
    #page8 .page-elements,
    #page9 .page-elements {
        margin-left: 4%;
    }
}

#page2 .page-elements .page-title,
#page3 .page-elements .page-title,
#page5 .page-elements .page-title,
#page8 .page-elements .page-title,
#page9 .page-elements .page-title {
    font-family: "Termina Demi";
    font-weight: 500;
    font-style: normal;
    font-size: 0.8rem;
    text-align: center;
}

#page2 .page-elements .page-title span,
#page3 .page-elements .page-title span,
#page5 .page-elements .page-title span,
#page8 .page-elements .page-title span,
#page9 .page-elements .page-title span {
    color: #BE4F56;
    font-size: 1.5rem;
}

#page2 .page-elements .page-text,
#page3 .page-elements .page-text,
#page5 .page-elements .page-text,
#page8 .page-elements .page-text,
#page9 .page-elements .page-text {
    font-family: 'Caslon-regular';
}


#page2 .page-elements .page-text p,
#page3 .page-elements .page-text p,
#page5 .page-elements .page-text p,
#page8 .page-elements .page-text p,
#page9 .page-elements .page-text p {
    font-size: 0.9rem;
    margin: 15px 0px;
}

@media screen and (max-width: 1300px) {

    #page2 .page-elements .page-title,
    #page3 .page-elements .page-title,
    #page5 .page-elements .page-title,
    #page8 .page-elements .page-title,
    #page9 .page-elements .page-title {
        font-size: 0.65rem;
    }

    #page2 .page-elements .page-title span,
    #page3 .page-elements .page-title span,
    #page5 .page-elements .page-title span,
    #page8 .page-elements .page-title span,
    #page9 .page-elements .page-title span {
        font-size: 1.2rem;
    }

    #page2 .page-elements .page-text p,
    #page3 .page-elements .page-text p,
    #page5 .page-elements .page-text p,
    #page8 .page-elements .page-text p,
    #page9 .page-elements .page-text p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 1100px) {

    #page2 .page-elements .page-title,
    #page3 .page-elements .page-title,
    #page5 .page-elements .page-title,
    #page8 .page-elements .page-title,
    #page9 .page-elements .page-title {
        font-size: 0.5rem;
    }

    #page2 .page-elements .page-title span,
    #page3 .page-elements .page-title span,
    #page5 .page-elements .page-title span,
    #page8 .page-elements .page-title span,
    #page9 .page-elements .page-title span {
        font-size: 1rem;
    }

    #page2 .page-elements .page-text p,
    #page3 .page-elements .page-text p,
    #page5 .page-elements .page-text p,
    #page8 .page-elements .page-text p,
    #page9 .page-elements .page-text p {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 800px) {

    #page2 .page-elements .page-title,
    #page3 .page-elements .page-title,
    #page5 .page-elements .page-title,
    #page8 .page-elements .page-title,
    #page9 .page-elements .page-title {
        font-size: 0.45rem;
    }

    #page2 .page-elements .page-title span,
    #page3 .page-elements .page-title span,
    #page5 .page-elements .page-title span,
    #page8 .page-elements .page-title span,
    #page9 .page-elements .page-title span {
        font-size: 0.9rem;
    }

    #page2 .page-elements .page-text p,
    #page3 .page-elements .page-text p,
    #page5 .page-elements .page-text p,
    #page8 .page-elements .page-text p,
    #page9 .page-elements .page-text p {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 700px) {

    #page2 .page-elements .page-title,
    #page3 .page-elements .page-title,
    #page5 .page-elements .page-title,
    #page8 .page-elements .page-title,
    #page9 .page-elements .page-title {
        font-size: 0.5rem;
    }

    #page2 .page-elements .page-title span,
    #page3 .page-elements .page-title span,
    #page5 .page-elements .page-title span,
    #page8 .page-elements .page-title span,
    #page9 .page-elements .page-title span {
        font-size: 1rem;
    }

    #page2 .page-elements .page-text p,
    #page3 .page-elements .page-text p,
    #page5 .page-elements .page-text p,
    #page8 .page-elements .page-text p,
    #page9 .page-elements .page-text p {
        font-size: 0.6rem;
    }
}


#page2 .chapter,
#page3 .chapter,
#page5 .chapter,
#page8 .chapter,
#page9 .chapter {
    font-family: "Termina Demi";
    font-weight: 500;
    font-style: normal;
    font-size: 8px;
    position: absolute;
    bottom: 5%;
}

#page2 .chapter,
#page8 .chapter {
    right: 8%;
}

#page3 .chapter,
#page5 .chapter,
#page9 .chapter {
    left: 11%;
}

@media screen and (max-width: 920px) {

    #page2 .chapter,
    #page3 .chapter,
    #page5 .chapter,
    #page8 .chapter,
    #page9 .chapter {
        font-size: 6px;
        bottom: 7%;
    }

    #page2 .chapter,
    #page8 .chapter {
        right: 11%;
    }

    #page3 .chapter,
    #page5 .chapter,
    #page9 .chapter {
        left: 11%;
    }
}

@media screen and (max-width: 600px) {

    #page2 .chapter,
    #page3 .chapter,
    #page5 .chapter,
    #page8 .chapter,
    #page9 .chapter {
        left: initial;
        bottom: 7%;
        right: 11%;
    }
}

/* ######################################## */
/* PAGE 4 */
/* ######################################## */
#page4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#page4 .page-elements {
    display: flex;
    position: relative;
    width: 98%;
    height: 96%;
    margin-right: 1%;
}

@media screen and (max-width: 920px) {
    #page4 .page-elements {
        width: 94%;
        height: 95%;
        margin-right: 5%;
        margin-top: -2%;
    }
}

@media screen and (max-width: 600px) {
    #page4 {
        justify-content: flex-end;
    }
    #page4 .page-elements {
        margin-right: 4%;
    }
}


#page4 .page-elements img {
    position: absolute;
    width: 100%;
    height: 100%;
}