.fade-in {
    animation: fadeIn 3s ease 1.5s forwards;
    -webkit-animation: fadeIn 3s ease 1.5s forwards;
    -moz-animation: fadeIn 3s ease 1.5s forwards;
    -o-animation: fadeIn 3s ease 1.5s forwards;
    -ms-animation: fadeIn 3s ease 1.5s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-out {
    animation: fadeOut 3s ease 1.5s forwards;
    -webkit-animation: fadeOut 3s ease 1.5s forwards;
    -moz-animation: fadeOut 3s ease 1.5s forwards;
    -o-animation: fadeOut 3s ease 1.5s forwards;
    -ms-animation: fadeOut 3s ease 1.5s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}